/*navbar do bootstrap*/

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.sacola {
    background-image: url(../img/sacola.png) !important;
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
}

header {
    position: relative;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #333333;
    padding: 9px 9px;
    text-decoration: none;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
}

.menu-opcoes a:hover {
    background-color: #B39B74;
    color: #333333;
}

.menu-opcoes a:active {
    color: #333333;
}