body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

img {
    position: relative;
    margin-right: 100px;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

p {
    padding: 0 45px;
    text-indent: 15px;
}

.centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

header {
    position: relative;
}

.container {
    margin: 0 auto;
    width: 940px;
}

footer {
    clear: both;
    position: relative;
    background-image: url(../img/fundo-rodape.png);
    padding: 20px 0;
}

footer .container {
    position: relative;
}

footer .container img {
    padding-left: 4px;
}

.social {
    position: absolute;
    top: 12px;
    /* top ->magic numbers*/
    right: 4px;
}

.social li {
    float: left;
    margin-left: 25px;
    display: block;
}

.social a {
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(../img/googleplus.png);
}

.rodape {
    color: #777;
    margin: 5px 0;
    padding: 5px 0;
}

.rodape img {
    margin-right: 10px;
    vertical-align: middle;
    width: 90px;
}


/* SELETORES,	 PSEUDO-CLASSES	 E	 PSEUDOELEMENTOS */

p::first-letter {
    font-weight: bold;
}

h1+p {
    text-indent: 0 !important;
}


/*  selecione	 as	 primeiras	 linhas	 dos	 parágrafos	 que	 não	 são	 precedidos	 por	 outros
parágrafos */

:not(p)+p::first-line {
    font-variant: small-caps;
}

iframe {
    margin-left: 250px;
}


/* web design responsivo */

@media (max-width: 320px) {
    .container {
        width: 96%;
    }
    header h1 {
        text-align: center;
    }
    header h1 img {
        max-width: 50%;
    }
    .rodape img {
        width: 15%;
    }
    /* .rodape {
        text-size-adjust: auto;
    }
    .social {
        top: 20px;
        /* right: 5px; */
    .introducao,
    .historia,
    .diferenciais {
        position: static;
        margin-right: 0;
        width: 100%;
        align-items: center;
    }
    figure img {
        max-width: 200%;
    }
    p {
        font-size: 200%;
    }
    .diferenciais li {
        font-size: 200%;
    }
}

@media (max-width: 939px) {
    .container {
        width: 96%;
    }
    header h1 {
        text-align: center;
    }
    header h1 img {
        max-width: 50%;
    }
    .rodape img {
        width: 20%;
    }
    .rodape {
        text-size-adjust: auto;
    }
    .social {
        top: 30px;
        right: 10px;
    }
    .introducao,
    .historia,
    .diferenciais {
        position: static;
        margin-right: 0;
        width: 100%;
        align-items: center;
    }
    figure img {
        max-width: 200%;
    }
    p {
        font-size: 200%;
    }
    .diferenciais li {
        font-size: 200%;
    }
    @media (min-width: 480px) {
        .container {
            width: 100%;
        }
        section p {
            width: 95%;
            height: 80%;
        }
        #familia-pelho img {
            max-width: 100%;
        }
    }
}